{% load widget_tweaks %}

{% if erro_form_disciplina or form_disciplina_populado %}
    <script>
        jQuery.noConflict();
        jQuery(function($) {
            $('#modalDisciplinas').modal('show');
        });
    </script>
{% endif %}

<div class="modal fade" id="modalDisciplinas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 titulo-modal" id="exampleModalLabel">Cadastro de disciplina</h1>
          <form><button type="submit" class="btn-close" data-bs-dismiss="modal" aria-label="Close" formaction="{% url 'disciplinas' %}"></button></form>
        </div>
        <form id="formDisciplinas" class="form-inline" action="{% url 'cadastra_disciplina' %}" method="POST">
            <div class="modal-body">
            {% csrf_token %}
            {% for campo in chave_form.visible_fields %}

                <div class="col mb-2">
                    <label class="label-input label-input-form-django bold" for="{{ campo.id_for_label }}">{{ campo.label }}</label>
                    {{campo|add_class:'form-control'}}
                </div>

                {% for error in campo.errors %}
                <section class="alert alert-danger p-1 mt-1" role="alert"> {{ campo.errors }} </section>
                {% endfor %}

            {% endfor %}
            </div>
        
            <div class="modal-footer">
                {% if not form_disciplina_populado %}
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
              {% else %}
                <button type="submit" class="btn btn-secondary" formaction="{% url 'disciplinas' %}">Cancelar</button>
                <button type="submit" class="btn btn-primary" formaction="#">Atualizar</button>
              {% endif %}
            </div>

        </form>
      </div>
    </div>
</div>

