{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2 class="titulo-1">Cursos cadastrados</h2>

<button class="button1" type="button" name="myButton" data-bs-toggle="modal" data-bs-target="#modalCursos"><i class="fas fa-plus m-1 text-success"></i>Novo curso</button>

<table class="tg">
    <colgroup>
    <col>
    </colgroup>
    <thead>
      <tr>
        <th style="border-left: 1px solid #a7abfc;" class="tg-y6cf">Curso</th>
        <th style="width: 60px" class="tg-y6cf">Ações</th>
      </tr>
    </thead>
    <tbody>
        {% if not chave_cursos %}
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        {% else %}
          {% for curso in chave_cursos %}
            <tr>
              <td class="tg-0lax texto-tabela clear"> <a href="{% url 'entrando_curso' curso.id %}"> <i class="fas fa-eye visualizar"></i>{{curso.nome}} </a> </td>
              <td class="tg-0lax lixeira"> 
                <a href="{% url 'chama_update_curso' curso.id %}"><i class="fas fa-edit edit"></i></a> 
                <a href="{% url 'deletando_curso' curso.id %}" onclick="return confirm('Deseja realmente excluir o curso de {{curso}}? Todas as disciplinas e notas associadas a ele também serão excluídas')"><i class="fa fa-trash lixeira"></i></a> 
              </td>
            </tr>
          {% endfor %}
        {% endif %}
    </tbody>
    <tfoot class="tb-foot">
        <tr>
          <th class="tg-y6cf"></td>
          <th class="tg-y6cf"></td>
        </tr>
    </tfoot>
</table>




{% endblock %}